html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

*, *:after, *:before {
    box-sizing: inherit;
}

h1{
    margin: 0;
}
.top-bar {
    height: 48px;
    background-color: rgb(47, 54, 48);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo-top{
    color: #2eb398;
    font-size: 20px;
    font-family: cursive;
}

.btn-hamburger{
    margin: 0;
    border: 0;
    font-size: 30px;
    color: white;
    background: none;
}
.btn-hamburger:hover{
    cursor: pointer;
    color: #2eb398;
}

.btn-top-container{
    background-color: #2eb398;
    width: 100%;
    flex-direction: column;
    position: fixed;
    top: 100px;
    text-align: center;
    display: none;
}
.open-btn{
    display: flex;

}
.btn-top{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-top:hover{
    color: rgb(47, 54, 48);

}
@media screen and (min-width: 430px) {

.logo-top{
    color: #2eb398;
    font-size: 45px;
    font-family: cursive;
}
.top-bar{
    height: 100px;
}
.btn-hamburger{
    font-size: 40px;
}

}
@media screen and (min-width: 700px) {
  
    .btn-top-container{
        background: none;
        flex-direction: row;
        position: initial;
        text-align: center;
        display: flex;
        width: initial;

    }
    .btn-top:hover{
        color: #2eb398;
    }
    .btn-hamburger{
        display: none;
    }
}


canvas {
    
    border: 1px black solid;
    background-color: white;
}


/* gallery */

.img-gallery{
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(0 30%, 50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%);
    width: 100px;
    height: 100px;
}

@media screen and (min-width: 700px) {
    .img-gallery{
        width: 200px;
        height: 200px;
    }
}
.filter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.word-link{
    background-color: rgb(47, 54, 48);
    height: 30px;
    margin-left: 5px;
    color: aliceblue;
    padding: 0 10px; 
}
.input-keyword{
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 20px;
}

/* editor */
.editor-container{
    display: flex;
    flex-direction: column;

}

.edit-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #2eb398;


}
.input-txt-editor{
    min-height: 30px;
    max-height: 50px;
    min-width: 300px;
}

.bts-imp-container{
    display: flex;
    flex-direction: column;

}

.btn-imp{
    border-radius: 4px;
    background-image: -moz-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(167,167,167) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(167,167,167) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(167,167,167) 100%);
    width: 300px;
    font-size: 20px;
    text-align: center;
}

@media screen and (min-width: 700px) {
    .editor-container{
        display: flex;
        flex-direction: row;

    }
}

/* modal icons */
.icons-modal{
    width: 87px;
    height: 400px;
    background-color: #2eb398;
    position: fixed;
    top: 122px;
    left: 319px;
    text-align: center;
}
.emoji{
    font-size: 30px;
    cursor: pointer;
}
.emoji:hover{
    font-size: 35px;
}

.hide{
    display: none;
}

